.footer{
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--color-bg2);
}
header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}
.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.header_left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_right-image{
    height: 400px;
    width: 400px;
}
#welcome{
    margin-top: 5rem;
    margin-left: 5rem;
}
.right{
    list-style: decimal;
}
.health{
    background: var(--color-bg1);
}
.health h1{
    line-height: 1;
    margin-bottom: 3rem;
}
.health_container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 3rem;
}
.health_left p{
    margin: 1rem 0 3rem;
}
.health_right{
    display: grid;
    grid-template-columns: 1fr;
    gap:0.5rem;
}
.health{
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}
.health:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3)
}
.health_left a{
    color: var(--color-danger);
}
.right li{
    padding: 0.8rem;
}
.videos_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.btn1{
    display:block;
    background:var(--color-white);
    color: var(--color-danger);
    width: 15rem;
    padding:1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    margin-top: 15px;
    margin: auto auto;
}
.btn1:hover{
    background: transparent;
    color:var(--color-white);
    border-color:var(--color-white);
}
#images{
    height: 400px;
    width: 550px;
}
.wrapper{
    width: 605px;
    background-color: rgba(0, 183, 255, 0.59);
    border-radius: 15px;
    padding: 30px 30px 25px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}
.wrapper header{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.content .quote-area{
    display: flex;
    justify-content: center;
  }
  .quote-area i{
    font-size: 15px;
  }
  .quote-area i:first-child{
    margin: 3px 10px 0 0;
  }
  .quote-area i:last-child{
    display: flex;
    margin: 0 0 3px 10px;
    align-items: flex-end;
  }
  .quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-all;
  }
  .content .author{
    display: flex;
    font-size: 18px;
    margin-top: 20px;
    font-style: italic;
    justify-content: flex-end;
  }
  .author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
  }
  .wrapper .buttons{
    border-top: 1px solid #ccc;
  }
  .buttons .features{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .features ul{
    display: flex;
  }
  .features ul li{
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: #ffffff;
    list-style: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    transition: all 0.3s ease;
  }
  .features ul li:first-child{
    margin-left: 0;
  }
  ul li:is(:hover, .active){
    color: #fff;
    background: #5372F0;
  }
  ul .speech.active{
    pointer-events: none;
  }
  .buttons button{
    border: none;
    color: #fff;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    padding: 13px 22px;
    border-radius: 30px;
    background: #0022ff;
  }
  .buttons button.loading{
    opacity: 0.7;
    pointer-events: none;
  }