.footer{
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--color-bg2);
}
.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    gap: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
    padding: 2rem 2rem 2rem 2rem;
}
p{
    font-size: larger;
    padding-left: 15px;
    padding-right: 15px;
}
img{
    padding: 15px 15px 15px 15px;
}
.doc{
    background-color: rgb(51, 0, 255);
    border-radius: 10px;
}