<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
    <link rel="stylesheet" href="/static/css/Activity.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
<form action="/activities" method="post">
    <nav>
            <div class="container">
                <a href="{{url_for('Home')}}">MentalHealth</a>
                <ul class="menu">
                    <li><a href="Journal.html">Journal</a></li>
                    <li><a href="Activity.html">Activity</a></li>
                    <li><a href="Media.html">Videos</a></li>
                    <li><a href="Reminders.html">Reminders</a></li>
                    <li><a href="Services.html">Services</a></li>
                </ul>
                <ul class="menu">
                    <li><a href="{{url_for('register')}}">Sign Up</a></li>
                    <li><a href="{{url_for('Login')}}">Login</a></li>
                    <li><a class='fas fa-user-alt' href="Profile.html"></a></li>
                </ul>
                <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
                <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
            </div>
        </nav>
    <footer class="footer">
            <div class="container footer_container">
                <div class="items">
                    <h3>Contact Us</h3>
                    <a href="#"><i class="fas fa-phone"></i> +91 9876543210  </a><br>
                    <a href="mailto:deshpande007123@gmail.com" ><i class="fas fa-envelope"></i> abc@gmail.com  </a><br>
                </div>
            </div>
        </footer>
</form>
</body>
</html>