<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First time questions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Questions.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<form action='/first' method="POST">
    <h1 class="title">First time questions</h1>
	<section>
		<div class="faq">
         <div class="question">
		  <h3>Enter your age group</h3>
         </div>
         <div class="answer">
             <p><input type="radio" id="hee" name="age" value="1">
            <label for="hee">18-25 years</label><br>
            <input type="radio" id="hee1" name="age" value="2">
            <label for="hee1">25-35 years</label><br>
            <input type="radio" id="hee2" name="age" value="3">
            <label for="hee2">35-52 years</label><br>
            <input type="radio" id="hee3" name="age" value="4">
            <label for="hee3">52+ years</label><br>
             </p>
         </div>
        </div>
        <div class="faq">
         <div class="question">
		  <h3>Enter your gender</h3>
         </div>
         <div class="answer">
             <p><input type="radio" id="he1" name="gender" value="1">
            <label for="he1">Male</label><br>
            <input type="radio" id="he2" name="gender" value="2">
            <label for="he2">Female</label><br>
            <input type="radio" id="he3" name="gender" value="3">
            <label for="he3">Transgender</label><br>
            <input type="radio" id="he4" name="gender" value="4">
            <label for="he4">prefer not to say</label><br>
             </p>
         </div>
        </div>
        <div class="faq">
         <div class="question">
		  <h3>Enter your country</h3>
         </div>
         <div class="answer">
             <input type="text" name="country">
         </div>
        </div>
        <div class="faq">
         <div class="question">
		  <h3>do you have any mental health problems in your family history</h3>
         </div>
         <div class="answer">
             <p><input type="radio" id="ge1" name="fh" value="1">
            <label for="ge1">Yes</label><br>
            <input type="radio" id="ge2" name="fh" value="2">
            <label for="he2">No</label><br>
             </p>
         </div>
        </div>
        <div class="faq">
         <div class="question">
		  <h3>Do you work far from home?</h3>
         </div>
         <div class="answer">
             <p><input type="radio" id="ee1" name="rw" value="1">
            <label for="ee1">Yes</label><br>
            <input type="radio" id="ee2" name="rw" value="2">
            <label for="ee2">No</label><br>
             </p>
         </div>
        </div>
        <div class="faq">
		 <div class="question">
		  <h3>How would you rate your mental health ?</h3>
         </div>
         <div class="answer">
             <p><input type="radio" id="Excellent" name="mh" value="1">
            <label for="Excellent">Excellent</label><br>
            <input type="radio" id="Good" name="mh" value="2">
            <label for="Good">Good</label><br>
            <input type="radio" id="average" name="mh" value="3">
            <label for="average">Average</label><br>
            <input type="radio" id="Poor" name="mh" value="4">
            <label for="Poor">Poor</label><br>
             </p>
         </div>
        </div>
        <div class="faq">
		 <div class="question">
		  <h3>Number of days working</h3>
         </div>
         <div class="answer">
             <p><input type="radio" id="9+" name="sleep" value="1">
            <label for="9+">4 days</label><br>
            <input type="radio" id="7-9" name="sleep" value="2">
            <label for="7-9">5 days</label><br>
            <input type="radio" id="4-6" name="sleep" value="3">
            <label for="4-6">6 days</label><br>
            <input type="radio" id="l4" name="sleep" value="4">
            <label for="l4">7 days</label><br></p>
         </div>
        </div>
        <div class="faq">
		 <div class="question">
		  <h3>How is your quality of sleep?</h3>
         </div>
         <div class="answer">
             <p><input type="radio" id="Ex" name="slq" value="1">
            <label for="Ex">Excellent</label><br>
            <input type="radio" id="G" name="slq" value="2">
            <label for="G">Good</label><br>
            <input type="radio" id="a" name="slq" value="3">
            <label for="a">Average</label><br>
            <input type="radio" id="P" name="slq" value="4">
            <label for="P">Poor</label><br>
             </p>
         </div>
        </div>
        <div class="faq">
		 <div class="question">
		  <h3>How active are you physically?</h3>
         </div>
         <div class="answer">
             <p><input type="radio" id="Exe" name="phy" value="1">
            <label for="Exe">Heavy physical activities</label><br>
            <input type="radio" id="Ge" name="phy" value="2">
            <label for="Ge">Moderate physical activities</label><br>
            <input type="radio" id="ae" name="phy" value="3">
            <label for="ae">Light physical activities</label><br>
            <input type="radio" id="Pe" name="phy" value="4">
            <label for="Pe">No physical activities</label><br>
             </p>
         </div>
        </div>
        <div class="faq">
		 <div class="question">
		  <h3>Do you Smoke or Drink?</h3>
         </div>
         <div class="answer">
             <p><input type="radio" id="no" name="add" value="1">
            <label for="no">No</label><br>
            <input type="radio" id="mon" name="add" value="2">
            <label for="mon">Once a month</label><br>
            <input type="radio" id="wek" name="add" value="3">
            <label for="wek">Once a week</label><br>
            <input type="radio" id="day" name="add" value="4">
            <label for="day">Everyday</label><br>
             </p>
         </div>
        </div>
	</section>
    <p align=center><input type="submit" class="button" value="Next"></p>

</form>
</body>
</html>