<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionare</title>
    <link rel="stylesheet" href="/static/css/Questions.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
        <div class="container">
            <a href="{{url_for('HomePage')}}">MentalHealthCompanion</a>
            <ul class="menu">
                <li><a href="{{url_for('JournalPage')}}">Journal</a></li>
                <li><a href="{{url_for('VideosPage')}}">Videos</a></li>
                <li><a href="{{url_for('ServicesPage')}}">Services</a></li>
            </ul>
            <ul class="menu">
                <li><a href="{{url_for('LoginPage')}}">Logout</a></li>
                <li><a class='fas fa-user-alt' href="{{url_for('ProfilePage')}}"></a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
        </div>
    </nav>
<form action='/predict' method="POST">
<div class="forest">
  <h1>Daily Questions</h1>
  <div class="question">
<p>How are you feeling today?</p>
  <input type="radio" id="happy" name="Mood" value="1">
  <label for="happy">Happy</label><br>
  <input type="radio" id="ang" name="Mood" value="2">
  <label for="ang">Angry</label><br>
  <input type="radio" id="sad" name="Mood" value="3">
  <label for="sad">Sad</label><br>
  <input type="radio" id="anx" name="Mood" value="4">
  <label for="anx">Anxious</label><br>
  </div>
  <div class="question">
<p>How many people did you talk to today?</p>
  <input type="radio" id="ha" name="Social" value="1">
  <label for="ha">0-5</label><br>
  <input type="radio" id="an" name="Social" value="2">
  <label for="an">6-12</label><br>
  <input type="radio" id="sa" name="Social" value="3">
  <label for="sa">13-20</label><br>
  <input type="radio" id="an1" name="Social" value="4">
  <label for="an1">More than 20</label><br>
  </div>
  <div class="question">
<p>Did you exercise today?If so how long?</p>
  <input type="radio" id="na" name="Phyact" value="1">
  <label for="na">No</label><br>
  <input type="radio" id="an2" name="Phyact" value="2">
  <label for="an2">less than 20 minutes</label><br>
  <input type="radio" id="sa1" name="Phyact" value="3">
  <label for="sa1">20-40 minutes</label><br>
  <input type="radio" id="an3" name="Phyact" value="4">
  <label for="an3">More than 40 minutes</label><br>
  </div>
  <div class="question">
<p>How well did you sleep yesterday</p>
  <input type="radio" id="s1" name="slep1" value="1">
  <label for="s1">Perfect</label><br>
   <input type="radio" id="s2" name="slep1" value="1">
  <label for="s2">Optimal</label><br>
  <input type="radio" id="s3" name="slep1" value="1">
  <label for="s3">Barely</label><br>
  <input type="radio" id="s4" name="slep1" value="1">
  <label for="s4">Not enough</label><br>
  </div>
    <div class="question">
<p>How was your day overall until now?</p>
  <input type="radio" id="k1" name="do" value="1">
  <label for="k1">Excellent</label><br>
   <input type="radio" id="k2" name="do" value="1">
  <label for="k2">Good</label><br>
  <input type="radio" id="k3" name="do" value="1">
  <label for="k3">Could be better</label><br>
  <input type="radio" id="k4" name="do" value="1">
  <label for="k4">Disastrous</label><br>
  </div>
    <div class="buttons">
<input type="submit" value="<-Next->">
    </div>
    <h1>your mental health score = {{sc}}</h1>
  </p>
</div>
</form><h1>{{finals}}</h1>
</body>
<footer class="footer">
  <div class="container footer_container">
      <div class="items">
          <h3>Contact Us</h3>
          <a href="#"><i class="fas fa-phone"></i> +91 9876543210  </a><br>
          <a href="mailto:deshpande007123@gmail.com" ><i class="fas fa-envelope"></i> abc@gmail.com  </a><br>
      </div>
  </div>
</footer>
</html>