<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
        <link rel="stylesheet" href="/static/css/Login.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
<body>
<form action="/login" method="post">
    <div class="userdata">
                <h1>Login</h1>
                <div class="txt">
                    <input type="text" id="username" name='username' required>
                    <span></span>
                    <label for="username">Username</label>
                </div>
                <div class="txt">
                    <input type="password" id="password" name='password' required>
                    <span></span>
                    <label for="password">Password</label>
                </div>
                <button onsubmit="{{url_for('Login')}}" id="login" value="Login">Login</button>
                <div class="member">
                    <p>New Here? <a href="{{url_for('RegisterPage')}}">Register</a></p>
                </div>
        </div>
</form>
<h1>{{info}}</h1>
</body>
</html>