<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
        <link rel="stylesheet" href="/static/css/Register.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <form action="/register" method="post">
    <div class="registeruser">
        <h1>Register</h1>
        <div class="txt">
                    <input type="text" id="name1" name='usn' required>
                    <span></span>
                    <label for="name1">Username</label>
                </div>
                <div class="txt">
                    <input type="text" id="user" name="name03" required>
                    <span></span>
                    <label for="user">Name</label>
                </div>
                <div class="txt">
                    <input type="text" id="mobno"  name='phn' required>
                    <span></span>
                    <label for="mobno">Mobile Number</label>
                </div>
                <div class="txt">
                    <input type="text" id="email" name='email' required/>
                    <span></span>
                    <label for="email">E-mail</label>
                </div>
                <div class="txt">
                    <input type="password" id="password" name='psd' required>
                    <span></span>
                    <label for="password">Password</label>
                </div>
                <button onsubmit="{{url_for('Register')}}" id="register" value="Sign Up">Sign Up</button>
                <div class="member">
                    <p>Already a member? <a href="{{url_for('LoginPage')}}">Login</a></p>
                </div>
        </div>
    </form>
<h1>{{error}}</h1>
</body>
</html>