<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/services" method="POST">
    <div>
        <img src="/static/images/imj1.jpg">
        <h1>Dr. Kapur B</h1>
        <h3>psychiatrist</h3>
        <h3>45 years experience overall</h3>
        <h3>Hebbal,Bangalore  Manipal Hospital</h3>
        <h3>₹2130 Consultation fee at clinic</h3>
    </div>
    <div>
        <img src="/static/images/imj2.jpg">
        <h1>Dr. Shobha Krishna</h1>
        <h3>psychiatrist</h3>
        <h3>31 Years Experience Overall  (16 years as specialist)</h3>
        <h3>Jayanagar,Bangalore  Apollo Speciality Hospitals + 3 more</h3>
        <h3>₹1500 Consultation fee at clinic</h3>
    </div>
    <div>
        <img src="/static/images/imj3.jpg">
        <h1>Dr. V Srinivas Reddy</h1>
        <h3>psychiatrist</h3>
        <h3>29 Years Experience Overall  (17 years as specialist)</h3>
        <h3>Bannerghatta Road,Bangalore  Apollo Hospital + 1 more</h3>
        <h3>₹1400 Consultation fee at clinic</h3>
    </div>
    <div>
        <img src="/static/images/imj4.jpg">
        <h1>Dr. Manjunath H</h1>
        <h3>psychiatrist</h3>
        <h3>24 Years Experience Overall  (9 years as specialist)</h3>
        <h3>Indiranagar,Bangalore  Apollo Clinic + 1 more</h3>
        <h3>₹800 Consultation fee at clinic</h3>
    </div>
    <div>
        <img src="/static/images/imj5.jpg">
        <h1>Dr. Anand Jayaraman</h1>
        <h3>psychiatrist</h3>
        <h3>26 years experience overall</h3>
        <h3>Manipal Hospital, Millers Road</h3>
        <h3>₹1500 Consultation fee at clinic</h3>
    </div>
    <div>
        <img src="/static/images/imj6.jpg">
        <h1>Dr. Vijay Mehtry</h1>
        <h3>Psychiatrist, Addiction Psychiatrist, Neuropsychiatrist</h3>
        <h3>15 Years Experience Overall  (9 years as specialist)</h3>
        <h3>Phoenix Psychiatry & Psychotherapy + 1 more</h3>
        <h3>₹800 Consultation fee at clinic</h3>
    </div>
</form>
</body>
</html>